.hey {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

.userImgBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userImgBtn img {
    border-radius: 50px;
    border: 4px solid yellow;
}

.userImgBtn button {
    background-color: blanchedalmond;
    border: 1px solid red;
}

.userInfo {
    background-color: rgb(171, 112, 213);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 0 20px 10px;
    width: 550px;
    border-radius: 20px;
    border: 2px solid rgb(104, 68, 129);

}