.nav {
    padding: 10px;
    grid-area: n;
    background-color: darksalmon;
}

.item a {
    padding: 10px;
    color: rgb(188, 255, 5);
    text-decoration: none;
}

.item a.active {
    color: gold;
}

a:hover {
    color: rgba(0, 255, 255, 0.567);
}